$select-size: 40px;
$max-width: 600px;
$max-height: 600px;
$font-family: 'Source Sans Pro', Segoe UI ,sans-serif;
$border-radius: 4px;
$padding: 10px;
$input-left-margin: 1em;
$margin-between-div: 10px;
$detail-font-weight: 600;